# Compiled class files
*.class

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Build tools
target/
build/

# Eclipse
.classpath
.factorypath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db
